
body {
    margin: 0;
    background: rgba(8, 15, 23, 1);
    color: rgba(214, 221, 230, 1);
    font-family: 'Plus Jakarta Sans', sans-serif;
  }

  .navbar {
    display: flex;
    position:relative;
    justify-content: space-between;
    align-items: center;
    background: rgba(162, 210, 96,0.1);
    padding: 1% 2%;
    border-radius: 1vw;
    margin:auto;
    width: 90%;
    height: 3vw;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  }
  .navbar a {
    color: rgba(214, 221, 230, 1);
    text-decoration: none;
    margin:1.5vw;
    font-size: 1.5vw;
    font-weight: 400;
  }
  .navbar .inlink{
    margin-left:0;
  }

  .navbar .inlink:hover{
    cursor: pointer;
  }
  .navbar .logo {
    font-size: 2.5vw;
    font-weight: Bold;
    color:rgba(214, 221, 230, 1);
    text-align: center;
    position:absolute;
    margin:auto 43%;

  }
  .navbar .contact{
    color: rgba(214, 221, 230, 1);
    text-decoration: none;
    margin:1vw;
    font-size: 1.5vw;
    font-weight: 400;
  }
  
  .welcome{
    text-align: center;
    font-size: 8vw;
  }
  .welcome-img{
    display: flex;
    max-width: 90%;
    justify-content: center;
    align-items: center;
    margin:auto;
    border-radius: 20px;
    border: 1px solid rgba(256, 256, 256, 0.5);
  }
  #proj-overview-grid{
    margin:10% auto ;
    height: auto;
    max-width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 3rem;
    row-gap: 1rem;
  }
  .cell-img{
    width:100%;
    border-radius: 5%;
  }
  .cell-text1{
    margin-top: 0;
    font-size: 1.5vw;
  }
  .cell-text2{
    line-height: 1%;
    opacity: 0.7;
    margin-bottom: 5vh;
    font-size: 1vw;
  }

  .serv-overview {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 90%;
    margin: 5% auto;
}

.serv-overview h2 {
    text-align: left;
    margin-right: 10%;
    font-size: 3vw;
    font-weight: Bold;
    color: #c9d1d9;
    width:50%;
}


.serv-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: left;
    column-gap: 20%;
    row-gap: none;
    width:50%;

}
.serv{
    align-content: left;
    font-size: 1.5vw;
}
#about{
    display: flex;
    max-width: 90%;
    margin: 5% auto;
}
.about-text{
    font-size:3vw;
    text-align: center;
}


.proj-ref-link {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.ref-link:hover{
  cursor: pointer;
}

.proj-ref-link-bgimg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;
    background-image: url('Assets/A vibrant futuristic cityscape illuminated by neon lights with sleek, towering buildings and digital grids creating a captivating depth in the scene..png');
    background-size: cover;
    background-position: center;
    z-index: 1;
    display: flex;
    align-items:flex-end;

}

.ref-link-content {
    color:white;
    position: relative;
    z-index: 2;
    max-width: 90%;
    margin-inline-start: 10%;
    text-align: left;
    margin:5%;
}
.ref-link{
    background: rgba(8, 15, 23, 1);
    border: none;
    color: rgba(214, 221, 230, 1);
    font-size:2vw;
    padding: 0.75rem 1.5rem;
    border-radius: 10%;
}
.proj-ref-head{
    font-size:3.5vw ;
}
.proj-ref-text{
    font-size: 1.5vw;
}


.touch{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 90%;
    margin: 5% auto;
}

.touch .touch-head {
    text-align: left;
    margin-right: 10%;
    font-size: 3vw;
    font-weight: Bold;
    color: #c9d1d9;
    white-space: nowrap;
}
.touch .touch-text{
    font-size: 1.5vw;
}

#onboarding-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height:clamp(0,90vw,90vh);
}
.instructions{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 0;
  height: 20vw;
  margin-bottom: none;


}

.number-input{
  margin-bottom:10%;
}

.number{
  width: 35px;
  height: 40px;
  margin:20px 0.5vw;
  background: rgba(255, 255, 255, 0.04);
  border: 0.1vw solid rgba(256, 256, 256, 0.2);
  border-radius: 5px;
  color: rgba(214, 221, 230, 0.2);
  font-size:20px;
  text-align: center;

}

.buttons{
  display: flex;
  flex-direction: column;
  margin:none;
}
.form-submit{
  background-color: rgb(167, 238, 67);
  height:30px;
  border: none;
  border-radius: 0.3vw;
  font-size: 15px;
}
.form-submit:hover{
  cursor: pointer;
}
.skip{
  display: flex;
  justify-content: center;
  font-size:15px;
  text-align:center;
  color: rgb(167, 238, 67);
  text-align: center;
}
.skip:hover{
  cursor: pointer;
}
.footer{
  display:flex;
  justify-content: space-between;
  max-width: 90%;
  margin:1vw auto;

}
.Futurist{
  color: rgba(214, 221, 230, 0.7);
  text-decoration: none;
  font-size: 3vw;
  font-weight: Bold;
}
.follow{
  background: rgba(8, 15, 23, 1);
  border: none;
  color: rgba(214, 221, 230, 1);
  font-size:2vw;
  padding: 0.75rem 1.5rem;
  border-radius: 0.8vw;
  border: 0.1vw solid rgba(256, 256, 256, 0.2);
}

.follow:hover{
  cursor: pointer;
}
@media only screen and (max-width: 786px){
  #proj-overview-grid{
    grid-template-columns: 1fr 1fr;
    column-gap: 5vw;
  }
  .cell-text1{
    font-size: 14px;
  }
  .cell-text2{
    font-size: 10px;
  }
  .serv-overview h2{
    font-size: 18px;
  }
  .serv{
    font-size: 10px;
  }
  .proj-ref-head{
    font-size: 18px;
  }
  .proj-ref-text{
    font-size: 10px;
  }
  .ref-link{
    font-size: 10px;
  }
  .touch{
    flex-direction: column;
    margin: 70px auto;
  }
  .touch .touch-head{
    font-size: 25px;
  }
  .touch .touch-text{
    font-size: 10px;
  }
  .proj-overview-grid{
    margin-top: 100px;
  }
  .navbar{
    height: 20px;
  }
  .navbar .logo{
    font-size: large;
  }
  .navbar a{
    font-size: 8px;
    margin:2px;
  }
  .navbar .contact{
    font-size: 8px;
  }
  .about-text{
    font-size: 18px;
  }

  #about{
    margin:75px auto
  }
  .proj-ref-link-bgimg{
    height: 50vh;
  }
  .proj-ref-link{
    height: 50vh;
  }
  .onboarding-form{
    height: 90vw;
    margin-bottom: 5vw;
  }

}

